<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.aliosama.assignment">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.LoginActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.CourseActivity"
            android:label="@string/course"
            android:parentActivityName=".Activity.NavigationDrawer"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activity.SignUpActivity" />
        <activity
            android:name=".Activity.NavigationDrawer"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Activity.AddCourseActivity"
            android:theme="@style/AppTheme"
            android:parentActivityName=".Activity.NavigationDrawer"
            android:label="@string/AddCourse"/>
    </application>

</manifest>